body {
    background-color: #B5F4FF;
}

header {
    background-color:  #007bff;
}

header h1 {
    font-family: Helvetica;
}

nav a {
    text-decoration: none;
    color: white;
    
}
nav a:hover {
    color: #84001D;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2%;
}

#contenido {
    padding: 5%;
}

#contenido h2 {
    font-size: 24px;
}

#contenido p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: rgb(1, 91, 107);
}

#contenido img {
    height: 150px;
    width: 150px;
    border-radius: 80px;
}